/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

@keyframes emerging {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.button-primary, .button-secondary {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 4px;
  font-size: 16px;
}

.button-primary {
  padding: 10px 25px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  color: #2196f3;
  background-color: #afb1b8;
}

.button-secondary {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover, .button-secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.logo {
  display: block;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo span {
  color: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__open-menu-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__close-menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .header__mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #ffffff;
  }
  .header__mobile-menu.is-open {
    display: flex;
    flex-direction: column;
  }
}

.header__contact-list--mobile {
  margin-top: auto;
}

.header__menu-icon {
  fill: #212121;
}

.header__menu-button:hover .header__menu-icon,
.header__menu-button:focus .header__menu-icon {
  fill: #2196f3;
}

.header__pages-link, .header__contact-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__pages-link:hover, .header__contact-link:hover, .header__pages-link:focus, .header__contact-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__pages-link {
  display: block;
  font-size: 40px;
  line-height: 1.17;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .header__pages-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .header__site-nav .list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .header__site-nav .list-item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__site-nav {
    display: flex;
  }
  .header__site-nav .list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contact-link {
  display: flex;
  align-items: center;
  color: #757575;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header__contact-link {
    margin-bottom: 64px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .header__contact-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .header__phone {
    font-size: 34px;
    color: #2196f3;
    margin-bottom: 32px;
  }
}

.header__socials-mobile-menu {
  display: flex;
}

.header__socials-mobile-menu-item:not(:last-child) {
  margin-right: 20px;
}

.header__socials-mobile-menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .current {
    position: relative;
    color: #2196f3;
  }
  .current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
    animation: emerging 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-hero.jpg");
  margin: 0 auto;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits__item {
  flex-basis: calc(100% / $num-of-items-in-row - 30px);
  margin-top: 30px;
  margin-left: 30px;
  max-width: 270px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.services {
  padding-top: 0;
}

.services__wrap {
  position: relative;
}

.services__image {
  display: block;
}

.services__item-title {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__item {
  flex-basis: calc(100% / $num-of-items-in-row - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials .socials__link:hover,
.socials .socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  flex-basis: calc(100% / $num-of-items-in-row - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card-content {
  padding: 30px 32px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__function {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients__item {
  flex-basis: calc(100% / $num-of-items-in-row - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer {
  display: flex;
  align-items: start;
}

.footer__logo-part {
  width: 231px;
  margin-right: 70px;
}

.footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__location, .footer__contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__location:hover, .footer__contact:hover, .footer__location:focus, .footer__contact:focus {
  color: #2196f3;
}

.footer__location {
  color: #ffffff;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__socials-part {
  margin-top: 12px;
}

.footer__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__form {
  margin-left: auto;
  margin-top: 12px;
}

.footer__form-label {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  display: inline-flex;
}

.footer__form-icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 530px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  border-color: #2196f3;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input.one-line {
  margin-bottom: 10px;
  padding-left: 42px;
}

.modal__form-input.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.modal__form-input.comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__form-wrap {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__form-icon {
  fill: #2196f3;
}

.modal__form-label-check {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__link-agree {
  color: #2196f3;
}

.modal__icon-check {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:focus + .modal__icon-check {
  border: 3px solid #2196f3;
}

.modal__checkbox:checked + .modal__icon-check {
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: transparent;
}

.portfolio__radiobutton-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__radiobutton-list .list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__item {
  flex-basis: calc(100% / $num-of-items-in-row - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__project-kind {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__project-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__project-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__project-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__project-description,
.portfolio__link:focus .portfolio__project-description {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio__project-name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */