// header

.header__contact-list {
  display: flex;
  margin-left: auto;
  .list-item:not(:last-child) {
    margin-right: 50px;
  }
}

// @media screen and (min-width: 768px) {
//   display: flex;
//   margin-left: auto;
// }

// margin-left: auto;
// .list-item:not(:last-child) {
//   margin-right: 50px;
// }
