.benefits__item {
  max-width: 450px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    @include grid__item(2);
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    @include grid__item(4);
    max-width: 270px;
  }
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: $secondary-background-color;
  border-radius: 4px;
  width: 450px;
  height: 120px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
