.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: relative;
  padding: 40px;

  background: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    min-height: 581px;
  }

  @media screen and (min-width: 1200px) {
    width: 530px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.one-line {
    margin-bottom: 10px;
    padding-left: 42px;
  }

  &.comment {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.modal__form-wrap {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: $title-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__form-input:focus + & {
    fill: $accent-color;
  }
}

.modal__form-label-check {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__link-agree {
  color: $accent-color;
}

.modal__icon-check {
  display: inline-block;
  margin-right: 7px;

  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__checkbox:focus + & {
    border: 3px solid $accent-color;
  }
}

.modal__checkbox:checked + .modal__icon-check {
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: transparent;
}
