.portfolio__radiobutton-list {
  display: flex;
  margin-bottom: 50px;

  .list-item:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    .list-item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.portfolio__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    @include grid__item(2);
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    @include grid__item(3);
    max-width: 370px;
  }
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  overflow-wrap: break-word;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__project-kind {
  margin-top: 0;
  margin-bottom: 0;

  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__project-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__project-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__project-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.portfolio__project-name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
