.socials {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .socials &:hover,
  .socials &:focus {
    color: #ffffff;
    background-color: $accent-color;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
